<!DOCTYPE html>
<html ng-app="commune">
<head>
  <meta charset='utf8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>commune</title>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-css-only/css/bootstrap.css">
  <link rel="stylesheet" href="styles/css/app.css"/>
</head>
  <body>
    <header>
      <nav class='navbar navbar-default' role='navigation' ng-controller="commune.nav">
        <div class='container-fluid'>
          <div class='navbar-header'>
            <a class="navbar-brand">commune</a>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <a href="/host" ng-click="disconnect()">Host</a>
            </li>
            <li>
              <a href="/join" ng-click="disconnect()">Join</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div ng-view></div>

    <script src="lib/angular/angular.js"></script>

    <script src="lib/socket.io-client/dist/socket.io.js"></script>
    <script src="lib/ng-socket/ngSocket.js"></script>

    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    
    <script src="lib/angular-animate/angular-animate.js"></script><script src="lib/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="lib/ng-Fx/dist/ng-Fx.js"></script>
    <script src="app.js"></script>
    <script src="common/directives.js"></script>
    <script src="common/services.js"></script>
    <script src="modules/join/join.js"></script>
    <script src="modules/host/host.js"></script>
    <script src="modules/joinRoom/room.js"></script>
    <script src="modules/hostRoom/room.js"></script>
  </body>
</html>