<div class="container-fluid" ng-class="{'bg-success': playing}">
  <soundtrack-in input="packet" when="playing">
  </soundtrack-in>
  <div class="btn-group-vertical col-xs-12">
    <div class="btn-group" ng-hide="playing">
      <button class="btn btn-success" ng-click="play()">
        <i class="icon-white icon-play"></i>
        Take on the queue!
      </button>
    </div>
    <div class="btn-group" ng-show="playing">
      <button class="btn btn-danger" ng-click="play()">
        <i class="icon-white icon-stop"></i>
        Next speaker
      </button>
    </div>
  </div>
  <br/>
  <h3>
    <span class="label label-info">
      {{ queue }} questions queued
    </span>
  </h3>
</div>