<div class="container-fluid" ng-class="{'bg-success': playing, 'bg-warning': queued}">
  <soundtrack-out output="emit(packet)" when="playing">
  </soundtrack-out>
  <div class="btn-group-vertical col-xs-12">
    <div class="btn-group">
      <button class="btn btn-success" ng-hide="queued || playing" ng-click="queue()">
        Ask a question
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-danger" ng-hide="!queued || playing" ng-click="dequeue()">
        Take it back
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-warning" ng-show="playing" ng-click="queued=false; stop();">
        I'm done!
      </button>
    </div>
  </div>
  <div class="label label-info" ng-show="queued">You are number {{ place }} in the queue.</div>
</div>