<div class="container-fluid">
  <soundtrack i="stream" o="emit(packet)" when="transmit" buffer-size="2048">
  </soundtrack>
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button class="btn btn-success" ng-click="transmit=true;">
        <i class="icon-white icon-play"></i>
        Ask a question
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-danger" ng-click="transmit=false;">
        <i class="icon-white icon-stop"></i>
        Take it back
      </button>
    </div>
  </div>
  <!-- TODO: queue info -->
</div>