<div class="container-fluid">
  <form name="room" ng-class="{'has-error': error}" ng-submit="submit()">
    <label class="control-label" ng-hide="error">Name your commune:</label>
    <label class="control-label" ng-show="error">Taken. Try again:</label>
    <input class="form-control" type="text" placeholder="Why not call it 'Cholula'?" ng-required ng-model="roomname">
    <label class="control-label">Choose a password:</label>
    <input class="form-control" type="password" placeholder="This will be given to participants" ng-required ng-model="password">
    <input class="btn btn-block" type="submit" value="Create room">
  </form>
</div>