<div class="container-fluid">
  <form name="room" ng-class="{'has-error': error}" ng-submit="submit()">
    <label class="control-label" ng-hide="error">Enter your creds:</label>
    <label class="control-label" ng-show="error">No go. Try again:</label>
    <input class="form-control" type="text" placeholder="room name" ng-model="roomname">
    <input class="form-control" type="text" placeholder="password" ng-model="password">
    <input class="btn btn-block" type="submit" value="Join room">
  </form>
</div>