<div class="container-fluid">
  <form name="room" ng-class="{'has-error': error}" ng-submit="submit()">
    <label class="control-label" ng-hide="error">Commune name:</label>
    <label class="control-label" ng-show="error">No go. Try again:</label>
    <input class="form-control" type="text" placeholder="This is the room you want to join" ng-required ng-model="roomname">
    <label class="control-label">Password:</label>
    <input class="form-control" type="password" placeholder="Ask your presenter if you haven't received this" ng-required ng-model="password">
    <input class="btn btn-block" type="submit" value="Join room">
  </form>
</div>